@import "./timeline-event.scss";

.longevent-with-cover-photo-container {
    @include with-cover-photo-container-size;
}

.longevent-no-cover-photo-container {
    @include no-cover-photo-container-size;
}

.longevent-cover-photo {
    @include cover-photo-size;
}

.longevent-subtitle-container {
    overflow: hidden;
    margin: 0;
}

.longevent-text-container {
    @include lower-text-container;
    position: relative;

    .longevent-comment-container {
        position: absolute;
        bottom: 0;

        h4,
        p {
            margin: 0 auto;
        }
        h4 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}
