@import "../../../../partials";

@mixin with-cover-photo-container-size {
    height: 120px;
    overflow: hidden;
}

@mixin no-cover-photo-container-size {
    height: 110px;
    padding: 5px;
    overflow: hidden;
    p {
        height: fit-content;
    }
}

@mixin cover-photo-size {
    height: auto;
    width: 100%;
}

@mixin lower-text-container{
    padding: 5px;
    height: 110px;
    overflow: hidden;
    margin: 0;
}

%event-container {
    @include no-select;
    text-align: initial;
    width: 220px;
    max-width: 220px;
    max-height: 240px;
    background-color: white;
    word-wrap: break-word;
    border-radius: 5px;

    h4,
    p {
        margin: 0;
    }

    h4{ 
        font-size: 18px;
    }
}

.event-first-container {
    @extend %event-container;
    margin-right: 10px;
}

.event-middle-container {
    @extend %event-container;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.event-last-container {
    @extend %event-container;
    margin-left: 10px;
}
