@import "./timeline-event.scss";

.shortevent-with-cover-photo-container {
    @include with-cover-photo-container-size;
}

.shortevent-no-cover-photo-container {
    @include flex-display-row;
    @include no-cover-photo-container-size;
    p{
        font-size: 14px;
    }

}

.shortevent-cover-photo {
    @include cover-photo-size;
}
.shortevent-text-container {
    @include lower-text-container;
    position: relative;
    .shortevent-comment-text-container {
        position: absolute;
        bottom: 0;
    }
    h4, p {
        margin: 0 auto;
    }
    h4{ 
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}
