.btn-round {
    padding: 12px;
    border-radius: 24px;
    background-color: $primary-color-faded;
}

.btn-round:hover {
    background-color: $button-hover-color;
}

.btn-switch {
    padding: 8px;
    border-radius: 12px;
}
