.longpostviewer-window {
    @include large-post-window;
}
.longpostviewer-meta-info-container {
    @include long-post-text-container;

    #longpostviewer-top-title-bar {
        @include flex-display-row;
        width: 100%;
        #longpostviewer-title {
            margin: 50px auto 0 0;
            font-size: 50px;
        }
    }

    #longpostviewer-subtitle {
        margin: 20px auto;
        font-weight: 100;
    }
    .longpostviewer-author-info-container {
        @include flex-display-row;

        .longpostviewer-display-photo img {
            @include small-profile-photo;
            border-radius: 50%;
            object-fit: cover;
        }

        .longpostviewer-author-info {
            margin: auto 0;
            h4,
            p {
                margin: 0;
            }
        }
    }

    .longpostviewer-button-container {
        @include flex-display-row;
        align-items: center;
        margin-left: auto;
    }

    .longpostviewer-stats-container {
        margin-left: auto;
    }

    .longpostviewer-cover-photo-container {
        margin: 50px auto;

        img {
            width: 100%;
        }
    }
}
#longpostviewer-inline-editor-container {
    max-height: 500px;
    overflow: hidden;
}

.longpostviewer-editor-container {
    @include long-post-text-container;
    .longpostviewer-cover-photo {
        width: 100%;
    }
}
