#shortpostviewer-large-hero {
    @include flex-display-row;
    height: $small-post-height;
}

#shortpostviewer-inline-hero {
}

#shortpostviewer-large-inline-header {
    padding-left: 10px;
}

.shortpostviewer-large-hero-image {
    @include short-post-hero-image-container;
    height: auto;
}

.shortpostviewer-inline-hero {
    height: auto;
}

.shortpostviewer-window {
    @include small-post-window;
    z-index: 22;
}

.with-image {
    background-color: black;
}

.shortpostviewer-large-side {
    @include short-post-side-container;
    background-color: white;
    @include flex-display-column;
}

.shortpostviewer-large-hero-text {
    @include short-post-hero-text-container;
    height: auto;
}

.shortpostviewer-inline-hero {
    @include flex-display-column;
}

.shortpostviewer-inline-side {
    width: 100%;
}

.shortpostviewer-title {
    margin-bottom: 0px;
}

.shortpostviewer-nav {
    @include flex-display-row;
    justify-content: space-between;
}
