#shortpostviewer-large-hero {
    @include flex-display-row;
    height: $small-post-height;
    z-index: 25;
}

#shortpostviewer-large-inline-header {
    padding-left: 10px;
}

.shortpostviewer-large-hero-image {
    height: auto;
}
 
.with-image {
    background-color: black;
}

.shortpostviewer-large-side {
    @include flex-display-column;
    background-color: white;
}

.shortpostviewer-large-hero-text {
    height: auto;
    width: 65%;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

.shortpostviewer-inline-hero {
    @include flex-display-column;
    padding: 5px;
}

.shortpostviewer-inline-side {
    width: 100%;
}

.shortpostviewer-inline-comments {
    padding: 5px;
}

.shortpostviewer-title {
    margin-bottom: 0px;
}

.shortpostviewer-nav {
    @include flex-display-row;
    justify-content: space-between;
}
