@import "../../../partials";

#shortpostviewer-large-inline-header-container {
    padding-left: 10px;
}
.shortpostviewer-window {
    @include small-post-window;
    z-index: 22;
}

#shortpostviewer-large-main-container {
    @include flex-display-row;
    height: $small-post-height;
}

.with-image {
    background-color: black;
}

.shortpostviewer-large-hero-image-container {
    @include short-post-hero-image-container;
    height: auto;
}

.shortpostviewer-large-hero-text-container {
    @include short-post-hero-text-container;
    height: auto;
}

.shortpostviewer-large-side-container {
    background-color: white;
    @include short-post-side-container;
}

.shortpostviewer-inline-main-container {
    @include flex-display-column;
}

.shortpostviewer-inline-hero-container {
    height: auto;
}

.shortpostviewer-inline-side-container {
    width: 100%;
}

.shortpostviewer-button-container {
    @include flex-display-row;
    justify-content: space-between;
}
