#sort-by-date-button {
    float: right;
}

.projectcontroller-event {
    display: inline-block;
}

#projectcontroller-submit {
    @include flex-display-column;
}

#projectcontroller-sortable-list {
    ul {
        padding: 0;
    }
}

#projectcontroller-content {
    margin-top: 50px;
}

#projectcontroller-return {
    padding-top: 20px;
}

.projectcontroller-checkbox-span {
    width: fit-content;
    input {
        width: auto;
    }
}
