#sort-by-date-button {
    float: right;
}

.projectcontroller-event-container {
    display: inline-block;
}

#projectcontroller-submit-container {
    @include flex-display-column;
}

#projectcontroller-sortable-list-container {
    ul {
        padding: 0;
    }
}

#projectcontroller-content-only-container {
    margin-top: 50px;
}

#projectcontroller-return-container {
    padding-top: 20px;
}

.projectcontroller-checkbox-span {
    width: fit-content;
    input {
        width: auto;
    }
}
