@import "../../partials";

#sort-by-date-button {
    float: right;
}

.projectcontroller-event-container {
    display: inline-block;
}

#projectcontroller-submit-container {
    @include flex-display-column;
}

#projectcontroller-sortable-list-container {
    ul {
        padding: 0;
    }
}
