@import "../../partials";

#projectheader-hero-text {
    padding-top: 20px;
    text-align: center;
}

#projectheader-user-fork {
    @include flex-display-column;
    align-items: center;
    justify-content: center;
}

#projectheader-user-info-container {
    @include flex-display-row;
    justify-content: center;

    a {
        @include flex-display-row;
        align-items: center;
        justify-content: center;
    }
    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
    }
}

#projectheader-cover-container {
    @include flex-display-row;
    justify-content: center;
    img {
        max-height: 500px;
        max-width: 100%;
    }
}

#projectheader-button-container {
    @include flex-display-row;
    justify-content: center;
    margin-top: 25px;
}

#projectheader-previews {
    @include flex-display-row;
}
