.metainfo-thread {
    display: flex;
    justify-content: center;
}

.metainfo-stat {
    display: flex;
    p {
        margin: 0 auto;
        font-size: 14px;
    }
}

.metainfo-label {
    background-color: black;
    width: fit-content;
    p {
        color: white;
    }
}
