@import "src/partials";

.postheader-display-photo-container {
    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
    }
}

.postheader-main-container {
    @include flex-display-row;
    margin: 10px 0;
    justify-content: space-between;
    .postheader-author-information {
        @include flex-display-row;
        align-items: center;
        .postheader-text-information-container {
            padding-left: 5px;
        }
        img,
        h4 {
            margin: 0;
        }
        p {
            font-size: 13px;
            margin: 0;
        }
    }

    button {
        height: fit-content;
    }
}

