.shortpostmetainfo-thread-container {
    display: flex;
    justify-content: center;
}
.shortpostmetainfo-stat-container {
    margin: 30px auto;
    p {
        margin: 0 auto;
        font-size: 14px;
    }
}
.shortpostmetainfo-text-container {
    margin: 30px auto;
}

.shortpostmetainfo-label {
    background-color: black;
    width: fit-content;
    p {
        color: white;
    }
}
