.shortpostmetainfo-stat-container {
    p {
        margin: 0 auto;
        font-size: 14px;
    }
}

.shortpostmetainfo-label {
    background-color: black;
    width: fit-content;
    p {
        color: white;
    }
}

.shortpostmetainfo-text-container {
}
