@import "../../../../partials";

.singlecomment-multiple-thread-style{
    @include flex-display-row;
}
.singlecomment-main-container {
    @include flex-display-column;
    width: 80%;

    .singlecomment-header-container {
        @include flex-display-row;
        align-items: center;
        .singlecomment-display-photo-container {
            @include flex-display-row;
            img {
                @include tiny-profile-photo;
                border-radius: 50%;
            }
        }
    }

    .singlecomment-body-container {
        @include flex-display-row;
    }
}

.singlecomment-thread-indicator-container {
    @include flex-display-row;
    .singlecomment-thread-indicator {
        background: green;
        width: 5px;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
}
.singlecomment-multiple-threads-container {
    width: auto;
    
}
