@import "../../../../partials";

.singlecomment-multiple-thread-style {
    @include flex-display-row;
}
.singlecomment-main-container {
    @include flex-display-column;
    width: 80%;

    .singlecomment-header-container {
        @include flex-display-row;
        align-items: center;
        .singlecomment-display-photo-container {
            @include flex-display-row;
            img {
                @include tiny-profile-photo;
                border-radius: 50%;
            }
        }
    }

    .singlecomment-body-container {
        @include flex-display-row;
    }
}

.singlecomment-management-container {
    @include flex-display-row;
    p {
        margin: 0 5px;
    }
    button {
        height: fit-content;
    }
}
.singlecomment-thread-indicator-container {
    @include flex-display-row;
    .singlecomment-thread-indicator {
        background: grey;
        width: 3px;
        height: 100%;
        margin-left: 16px;
        margin-right: 5px;
    }
}
.singlecomment-multiple-threads-container {
    width: auto;
}
