.customimageslider-new-post-hero-container {
    height: $small-post-draft-height;
    max-height: $small-post-draft-height;
    background-color: black;
    img {
        min-height: calc(#{$small-post-draft-height} - 24px);
        max-height: calc(#{$small-post-draft-height} - 24px);
        object-fit: contain;
    }
}

.customimageslider-hero-container {
    background-color: black;
    img {
        max-height: calc(#{$small-post-height} - 24px);
        object-fit: contain;
    }
}

.customimageslider-expanded img {
    min-height: calc(#{$small-post-height} - 24px);
}
