@import "../../../_partials";

.similarprojectinfo-container {
    @include flex-display-column;
    justify-content: center;
    height: 65px;
    max-width: 250px;
    margin: 15px;
    border-radius: 1px;
    background-color: aliceblue;
    padding: 0 5px;
    border-radius: 2px;
    border-style: solid;
    a,
    h4,
    p {
        margin: 0;
    }
}
