@import "../../../partials";

.similarprojectinfo-container {
    max-width: 250px;
    margin: 15px;
    border-radius: 1px;
    h4 {
        margin-bottom: 0px;
    }
    p {
        margin-top: 0px;
    }
}
