.shortreeditor-main {
  @include flex-display-row;
}

.shortreeditor-hero {
  @include short-post-hero-image-container;
  margin: 0 auto;
  height: auto;
}

.shortreeditor-side {
  background-color: white;
  @include short-post-side-container;
}
