#shorteditor-text {
    max-width: 900px;
    min-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#shorteditor-main {
    @include flex-display-row;
}

#shorteditor-hero {
    #shorteditor-images {
        // background-color: black;
    }
}

#shorteditor-files {
    @include flex-display-column;
    h4 {
        text-align: center;
    }
}

// https://github.com/kenwheeler/slick/issues/982
