@import "../../../partials";
.shortreeditor-main-container {
  @include flex-display-row;
  height: $small-post-height;
}

.shortreeditor-hero-container {
  @include short-post-hero-image-container;
  height: auto;
}

.shortreeditor-side-container {
  background-color: white;
  @include short-post-side-container;
}
