.initialcustomization-container {
    @include flex-display-row;
    justify-content: center;
    margin-bottom: 10vh;

    form {
        @include flex-display-column;
        justify-content: center;
        width: 55%;
    }

    .initialcustomization-content-container {
        @include flex-display-column;
        padding: 2vh;
    }
    p {
        margin: 0 auto;
    }
    input,
    label,
    span {
        margin-bottom: 1vh;
    }
    span {
        margin-top: 1vh;
    }

    #initialcustomization-display-photo-container {
        @include main-profile-photo-container;
    }
}

.initialcustomization-select {
    @include flex-display-row;
}
