#returninguser {
    margin-top: 100px;
}

#returninguser-top-title {
    padding-left: 2vh;
}

#returninguser-profile {
    @include flex-display-row;
}

#returninguser-pursuit-info-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    td,
    th {
        padding: 8px;
    }
}

#returninguser-feed {
    @include flex-display-column;
}

#returninguser-recent-posts {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#returninguser-recent-work {
    border: none;
    outline: none;
    background-color: transparent;
}

#returninguser-recent-work-title {
    text-decoration: none;
    color: black;
}

#returninguser-recent-work-title:hover {
    text-decoration: underline;
}

#returninguser-infinite-scroll {
    margin: auto;
    width: 800px;
    @include flex-display-column;

    .returninguser-feed-object {
        border-style: solid;
        border-width: 1px;
        background-color: white;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        margin: 100px;
    }
}

#returninguser-recent-work {
    @include flex-display-column;
}

#returninguser-dp {
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
    @include medium-profile-photo;
}

.returninguser-title {
    @extend %title-texts;
}

.returninguser-main-row {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2vh;
    a {
        @include link-decoration;
    }
}

.returninguser-profile-text {
    text-align: center;
    p {
        margin: 5px auto;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.returninguser-profile-column {
    @include flex-display-column;
    margin: auto;
}

// .returninguser-row {
//     @include flex-display-row;
// }
