.userfeeditem-user {
    @include flex-display-column;
    h3 {
        margin: 0;
    }
    p {
        margin: 0;
    }
}
.userfeeditem-photo {
    @include flex-display-column;
    width: 99%;
    text-align: center;
    img {
        width: 100%;
    }
}
.userfeeditem-upper-main {
    @include flex-display-column;
    .userfeeditem-upper-top {
        @include flex-display-row;
        h3 {
            padding-right: 15px;
        }
        .userfeeditem-username-name {
            @include flex-display-row;
            align-items: center;
            flex-grow: 1;
            margin: 20px 0;
            a {
                padding-left: 15px;
            }
        }
        .userfeeditem-distance {
            @include flex-display-row;
            align-items: center;
            padding-right: 10px;
        }
    }
    .userfeeditem-upper-bottom {
        @include flex-display-row;
        .userfeeditem-upper-left {
            width: 39%;
            margin-left:15px;
        }
        .userfeeditem-upper-right {
            width: 59%;
            h3, p{
                margin-left: 30px;
            }
        }
    }
}

.userfeeditem-lower-main {
    width: 64.9;
}
