@import "src/partials";

#optionsmenu-pre-click-container {
    @include flex-display-row;
    padding: 5px;
    border-radius: 25px;
}

.optionsmenu-button-container {
    @include button-rounding;
}

#optionsmenu-pre-click-container:hover,
.optionsmenu-button-container:hover {
    background-color: $button-hover-color;
}
#optionsmenu-main-container {
    padding: 10px;
    h4,
    a {
        color: white;
    }
}
#optionsmenu-inner-menu-container {
    @include flex-display-column;
    position: absolute;
    background-color: #ed4071;
    border-radius: 5px;
    top: 50px;
    right: 0;
}

.optionsmenu-button-container {
    height: 20px;
    width: 200px;
    padding: 5px;
}
