#optionsmenu {
    padding: 10px;
    h4,
    a {
        color: white;
    }
}

#optionsmenu-pre-click:hover,
.optionsmenu-button:hover {
    background-color: $button-hover-color;
}

#optionsmenu-pre-click {
    @include flex-display-row;
    padding: 5px;
    border-radius: 25px;
}

.optionsmenu-button {
    @include button-rounding;
}

#optionsmenu-dropdown {
    @include flex-display-column;
    position: absolute;
    background-color: #ed4071;
    border-radius: 5px;
    top: 50px;
    right: 0;
}

.optionsmenu-button {
    height: 20px;
    width: 200px;
    padding: 5px;
}
