#optionallinks-dp{
    @include flex-display-row;
    align-items: center;
    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
    }
}

.optionallinks-actions {
    @include flex-display-row;
    @include button-rounding;
    background-color: $primary-color-faded;
}

.optionallinks-actions:hover {
    background-color: $button-hover-color;
}
