@import "../../../partials";

#relationmodal-window {
    @include small-post-window;
    z-index: 23;
    #relationmodal-hero-container {
        @include flex-display-row;

        .relationmodal-column {
            width: 33.32%;

            .relationmodal-profile-row {
                @include flex-display-row;
                align-items: center;

                .relationmodal-profile-info-container {
                    @include flex-display-row;
                    a {
                        @include link-decoration;
                        margin: auto;
                    }
                }

                img {
                    @include tiny-profile-photo;
                    border-radius: 50%;
                }
            }
        }
    }
}
