@import "../../../partials";

#relationmodal-window {
    position: fixed;
    z-index: top;
    background-color: white;
    margin-top: -38vh;
    margin-left: -38vw;
    top: 50%;
    left: 50%;
    z-index: 22;
    height: 74vh;
    width: 76vw;
    #relationmodal-hero-container {
        @include flex-display-row;

        .relationmodal-column {
            width: 33.32%;

            .relationmodal-profile-row {
                @include flex-display-row;
                align-items: center;

                .relationmodal-profile-info-container {
                    @include flex-display-row;
                    a {
                        @include link-decoration;
                        margin: auto;
                    }
                }

                img {
                    @include tiny-profile-photo;
                    border-radius: 50%;
                }
            }
        }
    }
}
