@import "../../partials";

#account-container {
    width: fit-content;
    margin: 0 auto;
    @include flex-display-column;
}
#account-bio-container {
    @include flex-display-column;
}

#account-template-container {
    @include flex-display-column;
    p {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.account-section-container {
    @include flex-display-column;
    margin-top: 15px;
    margin-bottom: 15px;

    label {
        font-size: medium;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    button {
        width: fit-content;
    }
}

.account-photo-edit-container {
    display: none;
    flex-direction: row;
    padding: 10px;
    border: 2px solid black;
}

.account-photo-inner-container {
    @include flex-display-column;
}
