@import "../../partials";

%navbar-text {
    margin: auto;
    color: white;
}

#navbar-modal-open{
    @include navbar-float-over;
}

.navbar-main-action-buttons-container {
    @include flex-display-row;
    @include button-rounding;
    background-color: $primary-color-faded;
}

#navbar-profile-home:hover,
.navbar-main-action-buttons-container:hover {
    background-color: $button-hover-color;
}

#navbar-display-photo-container {
    @include flex-display-row;
    align-items: center;
    img {
        @include tiny-profile-photo;
        border-radius: 50%;
        object-fit: cover;
    }
}


nav {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 23;
    top: 0;
    width: 100%;
    position: fixed;

    #navbar-left-container {
        @include flex-display-row;
        align-items: center;

        h4 {
            @extend %navbar-text;
        }
    }

    #navbar-right-container {
        @include flex-display-row;

        p,
        h4 {
            @extend %navbar-text;
        }
    }
    #navbar-logo-container {
        display: flex;
        h3 {
            @extend %navbar-text;
        }
    }

    .navbar-navigation-link {
        font-size: $primary-large-font-size;
    }

    button,
    a {
        font-size: $primary-medium-font-size;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        margin: auto 0;
    }
}
