.eventherocontent-with-image {
    height: 120px;
    overflow: hidden;
}

.eventherocontent-no-image {
    @include flex-display-row;
    height: 110px;
    padding: 5px;
    overflow: hidden;
    p {
        font-size: 14px;
    }
}

.eventherocontent-image {
    height: auto;
    width: 100%;
}
