.timelineprojectevent-draft {
    background-color: $blue-200;
    color: $blue-900;
    min-height: $event-min-height;
    @include text;
}

.timelineprojectevent-completed {
    background-color: $blue-800;
    color: $blue-100;
    min-height: $event-min-height;
    @include text;
}

.timelineprojectevent-published {
    min-height: $event-min-height;
    @include text;
}

.timelineprojectevent-cover {
    height: auto;
    width: 100%;
}
