.event-first {
    @extend %event-container;
}

.event-middle {
    @extend %event-container;
    margin-bottom: 10px;
}

.event-last {
    @extend %event-container;
}

.post-first {
    @extend %post-container;
}

.post-second {
    @extend %post-container;
    margin-left: 20px;
    margin-right: 20px;
}

.post-third {
    @extend %post-container;
}

.project-one {
    @extend %project-container;
}

.project-two {
    @extend %project-container;
}
