
.event-first {
    @extend %event-container;
    margin-right: 10px;
}

.event-middle {
    @extend %event-container;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.event-last {
    @extend %event-container;
    margin-left: 10px;
}
