#timelineprojectevent {
    h4,
    h6,
    p {
        margin: 0;
    }
    h4 {
        padding: 0px 8px 8px 8px;
    }
    h6 {
        padding: 0 8px 4px 8px;
        font-size: 14px;
        font-weight: 100;
    }
}

#timelineproject-meta {
    @include flex-display-row;
    justify-content: space-between;
    padding: 8px 8px 4px 8px;
}

.timelineprojectevent-draft {
    background-color: $black-100;
    // color: $blue-900;
    min-height: $event-min-height;
}

.timelineprojectevent-completed {
    background-color: $black-100;
    // color: $blue-100;
    min-height: $event-min-height;
}

.timelineprojectevent-published {
    min-height: $event-min-height;
}

.timelineprojectevent-cover {
    height: auto;
    width: 100%;
}
