
.event-first-container {
    @extend %event-container;
    margin-right: 10px;
}

.event-middle-container {
    @extend %event-container;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.event-last-container {
    @extend %event-container;
    margin-left: 10px;
}
