@import "../../_partials.scss";

@mixin event {
    height: 150px;
    h4 {
        margin-top: 0px;
    }
}

.timelineprojectevent-draft {
    background-color: rgba($color: #9be3ff, $alpha: 0.5);
    @include event;
}

.timelineprojectevent-completed {
    background-color: rgba($color: #82ff0dbe, $alpha: 0.5);
    @include event;
}

.timelineprojectevent-cover-container {
    img {
        height: auto;
        width: 100%;
    }
}
