@import "../../_partials.scss";


.timelineprojectevent-draft {
    background-color: rgba($color: #9be3ff, $alpha: 0.5);
    height: 300px;
    h4{
        margin-top: 0px;
    }
    
}

.timelineprojectevent-cover-container{
    img {
        height: auto;
        width: 100%;
    }
}
