@import "../../_partials.scss";

@mixin with-cover-photo-container-size {
    height: 120px;
    overflow: hidden;
}

@mixin no-cover-photo-container-size {
    height: 110px;
    padding: 5px;
    overflow: hidden;
}

@mixin cover-photo-size {
    height: auto;
    width: 100%;
}

@mixin lower-text-container {
    padding: 5px 0;
    min-height: 110px;
    overflow: hidden;
    margin: 0;
    overflow-wrap: anywhere;

}

@mixin label-container {
    padding: 0 5px;
    border-radius: 5px;
    background-color: grey;
    width: fit-content
}

%event-container {
    @include no-select;
    text-align: initial;
    width: 220px;
    max-width: 220px;
    background-color: white;
    word-wrap: break-word;
    border-radius: 5px;
    cursor: pointer;
}

.event-first-container {
    @extend %event-container;
    margin-right: 10px;
}

.event-middle-container {
    @extend %event-container;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.event-last-container {
    @extend %event-container;
    margin-left: 10px;
}
