#welcomeloginform-form {
    margin-bottom: 25px;
}

#welcomeloginform-login {
    @include hero-button;
}

#welcomelogin-forgot {
    width: 100%;
    margin: 10px 0;
}

#welcomeloginform-switch {
    @include content-switch-button;
}

.welcomeloginform-text {
    input {
        @include text-input;
        width: 100%;
    }
}
