#welcomeregisterform-form-container {
    margin-bottom: 25px;
    p {
        margin-top: 12px;
        margin-bottom: 36px;
        font-size: 14px;
    }
}

.welcomeregisterform-text-input-container {
    input {
        @include text-input;
        width: 100%;
    }
}

#welcomeregisterform-button {
    @include hero-button;
}
#welcomeregisterform-button:disabled {
    @include hero-button;
    background-color: rgb(197, 197, 197);
}

#welcomeregisterform-login {
    @include content-switch-button;
}
