@import "../index.scss";

#welcomeloginform-form-container {
    margin-bottom: 25px;
    #welcomelogin-forgot-button {
        width: 100%;
        margin: 10px 0;
    }
    #welcomeloginform-login-button {
        height: 50px;
        width: 100%;
    }
}

.welcomeloginform-text-input-container {
    input {
        @include text-input;
        width: 100%;
    }
}

#welcomeloginform-switch-button {
    @include content-switch-button;
}
