#peoplefields {
    @include flex-display-row;
    margin: 0 auto;
}

#peoplefields-createable {
    width: 300px;
}

#peoplefieds-distance {
}

#peoplefields-refresh {
    height: fit-content;
}

.peoplefields-fields {
    padding: 20px;
}

.peoplefields-label {
    padding-right: 5px;
}
