.eventtextinfo {
    @include flex-display-column;
    @include lower-text-container;
    position: relative;

    .eventtextinfo-progression {
        padding: 0 4px;
    }

    .eventtextinfo-dynamic {
        @include flex-display-column;
        flex-grow: 1;
        justify-content: space-between;
        .eventtextinfo-labels {
            @include flex-display-row;
            flex-wrap: wrap;
        }
    }
    .eventtextinfo-comment {
        padding: 0 4px;
        p {
            margin: 0 auto;
            font-size: 14px;
        }
    }
}
