
.welcome-login-register-section {
    @include flex-display-row;
    height: calc(100vh - 50px);
    p {
        color: $primary-text-color;
    }
}

.welcome-hero-hero-container,
.welcome-hero-side-container {
    @include flex-display-column;
    margin: auto;
    justify-content: center;
}

.welcome-hero-hero-container {
    width: 65%;
    text-align: center;
    font-size: $primary-medium-font-size;
    height: 100%;
}

.welcome-hero-side-container {
    height: 100%;
    width: 35%;
    margin-left: 25px;
    margin-right: 100px;
    button {
        width: fit-content;
    }
}
