#longpost-status {
    padding-left: 2vh;
}

#longpost-container {
    @include long-post-editor-container;
    height: 100%;
    width: 700px;
    position: relative;
    margin-top: 25px;
    input {
        color: black;
    }
}

#longpost-review-window {
    @include small-post-window;
    z-index: 23;
}

.longpost-window {
    @include large-post-window;
    top: 50px;
    padding-top:10px;
}

.longpost-button {
    @include long-post-button-container;
    display: flex;
    justify-content: space-between;
}
