#reviewstage {
    @include flex-display-column;
    input,
    select {
        width: 50%;
    }
    
    label {
        font-weight: bold;
    }
    
}

#reviewstage-header {
    text-align: center;
}

#reviewstage-nav {
    @include flex-display-row;
    justify-content: space-between;
    padding: 0 5px;
}
