
#reviewpost-header {
    text-align: center;
}

#reviewpost-small-window {
    @include flex-display-column;
}

#reviewpost-button-container {
    @include flex-display-row;
    justify-content: space-between;
    padding: 0 5px;
}

input,
select {
    width: 50%;
}

label{
    font-weight: bold;
}