#shortpost {
    @include flex-display-column;
    @include small-post-window;
}

#shortpost-header {
    text-align: center;
}

#shortpost-nav {
    @include flex-display-row;
    justify-content: space-between;

    p {
        margin: 0;
    }
}

#shortpost-title {
    width: 50%;
    margin: 0 auto;
}

#shortpost-review {
    @include small-post-window;
}
