@import "../../../partials";

#longpost-container {
    @include long-post-editor-container;
    width: 700px;
    position: relative;
    input {
        color: black;
    }
}

.longpost-window {
    @include large-post-window;
}

.longpost-button-container {
    @include long-post-button-container;
    display: flex;
    justify-content: space-between;
}
