#metastage-title{
    text-align: center;
}

#metastage-desc{

}

.metastage-nav{
    @include flex-display-row;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    button{
        height: fit-content;
    }
}
