@import "../../../partials";

@mixin long-text-input {
    width: 50%;
}

@mixin brief-text-input {
    width: 30%;
}

@mixin number-input {
    width: 25%;
}

@mixin slider-input {
    width: 100%;
}

@mixin meta-buttons {
    @include flex-display-column;
    align-items: center;
}

@mixin meta-slider {
    @include flex-display-column;
    height: 40px;
    justify-content: center;
    p {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}

#reviewpost-header {
    text-align: center;
}

#reviewpost-small-window {
    @include flex-display-column;
}

#reviewpost-button-container {
    @include flex-display-row;
    justify-content: space-between;
    padding: 0 5px;
}

input,
select {
    width: 50%;
}

label{
    font-weight: bold;
}