@import "../../../partials";
#shortpost-window {
    @include flex-display-column;
    @include small-post-window;
    z-index: 23;
}
#shortpost-review-window {
    @include small-post-window;
    z-index: 23;
}

#shortpost-special-button-container {
    margin: 0 auto;
}

.shortpost-button-container {
    @include flex-display-row;
    justify-content: space-between;
    padding: 0 5px;
    p {
        margin: 0;
    }
}
