@import "../../../partials";
#shortpost-window {
    @include flex-display-column;
    @include small-post-window;
    z-index: 23;
}
#shortpost-review-window {
    @include small-post-window;
    z-index: 23;
}

#shortpost-special-button-container {
    @include flex-display-column;
    margin: 0 auto;
}

#shortpost-long-draft-button {
    margin: 0 5px;
}

#shortpost-long-draft-options {
    visibility: hidden;
    margin: 5px auto;
    button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.shortpost-button-container {
    @include flex-display-row;
    justify-content: space-between;
    padding: 0 5px;
    p {
        margin: 0;
    }
}
