@import "../../../partials";
#shortpost-window {
    @include flex-display-column;
    @include small-post-window;
}

#shortpost-special-button-container{
    margin: 0 auto;
}

.shortpost-button-container {
    @include flex-display-row;
    justify-content: space-between;
    padding: 0 5px;
}
